annotated-types==0.7.0
click==8.3.1
greenlet==3.3.2
iniconfig==2.3.0
joblib==1.5.3
loguru==0.7.3
nltk==3.9.2
packaging @ file:///home/task_176104885106445/conda-bld/packaging_1761049078006/work
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
python-dotenv==1.2.1
regex==2026.2.19
SQLAlchemy==2.0.46
textblob==0.19.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
